
@import "../main.scss";

.wrapper{
  margin-top:0px;
}

.headerTop{
  position: absolute;
  top:0;
  background: $logo-theme;
  height:50px;
  width: 100%;
  p{
    font-family: $fontH;
    font-weight: 500;
    margin-left: 5%;
  }
  .keyframes{
    animation: text 25s infinite linear;
    padding-left: 80%;
    white-space: nowrap;
  }
  @keyframes text {
    0%{
      transform: translate(0, 0);
    }
    
    100%{
      transform: translate(-160%, 0);
    }
  }
}

.headerMain{
  position: relative;
  margin-top:0;
  font-family: $font;
  display: grid;
  grid-template-columns: 60px 250px auto;
  column-gap: 300px ;
  background: $light-theme;
  height: max-content;
  padding: 10px;
  

  button{
    position: relative;
    cursor: pointer;
    background: rgba(255, 221, 45, 0.45);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    font-family: $fontH;
    font-style: normal;
    font-weight: 500;
    font-size: $font-main;
    width: max-content;
    padding: 15px;
    white-space: nowrap;
  }
   button:hover{
    background: rgba(179, 154, 30, 0.45);
    cursor: pointer;
    
  }
  .logo{
    margin-left: 110%;
    cursor: pointer;
    }
    nav {
      position: relative;
      margin-left: 300%;
      display: flex;
      flex-flow: nowrap row;
      align-items: center;
      justify-content: space-evenly;
      button{
        margin-left: 30px;
      }  
    }
}

