$light-theme: #FFFF;
$dark-theme: black;
$logo-theme: #FFDD2D;
$logo-theme-back: rgb(255, 237, 147);
$grey:#D9D9D9;
$font-main: 16px;
$font-par: 14px;
$font:'Roboto Slab', serif;
$fontH:'Roboto Condensed', sans-serif;

*{
  font-family: $font;
  font-size: $font-main;
  font-weight: 200;
}

body{
  margin: 0;
  background: $dark-theme;
}

.container{
  background: #D9D9D9;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 180px;
  .paddingContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px;
      p{
          font-family: $font;
          font-weight:500;
          align-items: center;
          padding: 30px;
      }
      img{
          padding: 10px;
      }
  }
}

.aboutContainer{
  background: $dark-theme;
  width: 100%;
  color: $light-theme;
  position: absolute;
  margin-top:30px;
  .logo{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      p{
          font-weight: 400;
      }
  }
  p{
    font-weight:300;
  }
}

.aboutPhoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    padding: 20px;
  }
}

.slider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  img{
    padding: 25px;
  }
}
.aboutBenefits{
  background: $grey;
  color: $dark-theme;
  padding: 35px;
  width: 70%;
  h3{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
  }
}