
$light-theme: #FFFF;
$dark-theme: #0000;
$logo-theme: #FFDD2D;
$font-main: 20px;
$font-par: 16px;

*{
  font-family: 'Roboto Slab', serif;
  font-size: $font-main;
  font-weight:200;
  
}

body{
  margin: 0;
  background: $dark-theme;
}

.wrapper{
  margin-top:0px;
}

.headerTop{
  position: absolute;
  background: $logo-theme;
  height:72px;
  width: 100%;
  display: flex;
  align-items: center;
}
.headerTop p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}
.headerMain{
  position: absolute;
  width: 100%;
  top: 90px;
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  grid-template-columns: 60px 250px auto;
  column-gap: 300px ;
  background: $light-theme;
  height: max-content;
  margin-bottom: 34px;
  
}
.headerMain button{
  background: rgba(255, 221, 45, 0.45);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: $font-main;
  width: max-content;
  padding: 15px;
  margin-left: 210%;
  
  

}
.logo{
margin-left: 110%;

}
.burger{
  margin-left: 70%;
}